/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    color: #d4af37;
    background-color: black;
    font-family: 'Bungee', sans-serif;
}

@font-face {
    font-family: 'Bungee'; /* Name for the font */
    src: url('../fonts/Bungee-Regular.ttf') format('truetype'); /* Path to the font file */
    font-weight: normal;
    font-style: normal;
}

/* Apply the font to your body or specific elements */
body {
    font-family: 'Bungee', sans-serif;
}


header {
    width: 100%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-list li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #FEF8AC;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: rgb(255, 0, 0);
}

.background-section {
    height: 100vh;
    background-image: url('../bandPhotos/background-1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Contact Form Styling */
.container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

#contact h1 {
    font-size: 36px;
    color: #d4af37;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
}

#contact input,
#contact textarea {
    font-size: 16px;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    color: black;
}

#contact input:focus,
#contact textarea:focus {
    outline: none;
    border: 1px solid #d4af37;
}

#contact button {
    width: 100%;
    padding: 15px;
    background-color: #d4af37;
    border: none;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #ff3333;
}

/* Contact Info Paragraph */
.contact-info {
    margin-top: 20px;
    text-align: center;
}

.contact-info p {
    font-size: 16px;
    color: #fff;
}

.contact-info a {
    color: #d4af37;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}



